@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.header {
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  @include flex(column, center, center);
  gap: 1rem;
  border-bottom: 1px solid black;

  h1 {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  p {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;

    span {
      text-transform: capitalize;
    }
  }
}
