@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.hero {
  width: 100%;
  aspect-ratio: 0.6818181818181818;

  @include tablet {
    aspect-ratio: 12 / 6;
  }

  @include desktop {
    aspect-ratio: 14 / 6;
  }
}
