.plus {
  &::after,
  &::before {
    content: "";
    transform: translate(-50%, -50%) rotate(-90deg);
    position: absolute;
    background-color: currentColor;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    top: 45%;
    left: 25%;
  }

  &::before {
    width: 10px;
    height: 1px;
    translate: (-50%, -50%) rotate(-90deg);
  }

  &::after {
    width: 1px;
    height: 10px;
    translate: (-50%, -50%) rotate(-90deg);
  }
}

.plusActive {
  .plus::after {
    transform: rotate(90deg);
    top: 26%;
    left: 25%;
  }
  .plus::before {
    opacity: 0;
  }
}
