@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.footer {
  background-color: #f4f0ea;
  @include flex(column, center, center);
  width: 100%;
  padding: 1rem;

  @include tablet {
    @include flex(column, space-between, stretch);
    padding-inline: 3rem;
  }

  @include desktop {
    padding-inline: 8rem;
  }

  .header {
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
  }

  .headings {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

    @include desktop {
      font-size: 1.2rem;
    }
  }

  .text {
    font-size: 0.8rem;

    @include desktop {
      font-size: 1rem;
    }
  }

  .footerContent {
    @include flex(column, center, center);
    padding-top: 1rem;
    width: 100%;
    gap: 0;

    @include tablet {
      @include flex(row, space-between, flex-start);
    }

    .split {
      width: 100%;

      @include tablet {
        width: 66.6%;
        @include flex(row-reverse, space-between, flex-start);
      }
    }

    .newsLetter {
      @include flex(column, center, center);
      padding: 1rem 0;
      text-transform: capitalize;
      font-weight: 400;
      width: 100%;

      .form {
        @include flex(column, center, center);
        text-transform: capitalize;
        width: 100%;

        @include tablet {
          @include flex(column, center, center);
        }
        .input {
          background-color: #f4f0ea;
          border: none;
          border-bottom: 1px solid rgba(151, 143, 143, 0.5);
          width: 100%;
          &::placeholder {
            text-align: center;
            line-height: 2;

            @include desktop {
              font-size: 1rem;
            }
          }

          @include desktop {
            font-size: 1rem;
          }
        }

        .inputActive {
          border-bottom: 1px solid rgba(151, 6, 6, 0.5);
          transition: border-bottom 0.7s ease-in-out;
        }

        .inputActive::placeholder {
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }
    }

    .contact {
      @include flex(column, center, center);
      padding: 1rem 0;
      text-transform: capitalize;
      width: 100%;

      @include tablet {
        @include flex(column, center, flex-start);
      }
    }

    .schemes {
      @include flex(column, center, center);
      padding: 1rem 0;
      text-transform: capitalize;
      width: 30%;

      @include tablet {
        @include flex(column, center, flex-end);
      }
    }
  }
  .copywrite {
    @include flex(column, center, center);
    text-transform: capitalize;

    @include tablet {
      @include flex(column, center, flex-start);
    }
  }
}
