@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.resources {
  padding: 1rem;

  .header {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;

    @include desktop {
      font-size: 1.2rem;
      font-style: normal;
    }
  }

  .articles {
    @include flex(row, flex-start, stretch);
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 1rem;
    padding-top: 1rem;
    text-transform: capitalize;

    @include tablet {
      @include flex(row, center, stretch);
      gap: 3rem;
    }

    @include desktop {
      gap: 5rem;
      padding-top: 3rem;
    }

    .article {
      border-radius: 5px;
      width: 10rem;
      flex: 0 0 auto;
      transition: transform 0.3s ease;
      text-align: center;

      @include desktop {
        width: 15rem;
        height: 20rem;
      }

      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 8rem;
        object-fit: cover;

        @include desktop {
          height: 12rem;
        }
      }
      .text {
        font-size: 0.7rem;
        padding: 0.3rem;

        @include desktop {
          font-size: 0.9rem;
          padding: 0.5rem;
        }
      }

      .title {
        font-weight: 400;
        font-size: 0.9rem;
        padding: 0.3rem;

        @include desktop {
          padding: 0.5rem;
        }
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }
  }
}
